<?xml version="1.0" encoding="UTF-8"?>
<!--
  Filename: testng.xml    
-->
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Smoketest suite">

  <test name="Smoke test gw">
    <classes>
      <class name="com.brutaltesting.graphwalker.smoketest.BackendSmokeTest" />
    </classes>
  </test>

</suite>